<div class="d-flex flex-column product-container justify-content-center">
    <div class="d-flex justify-content-center align-items-center img-container">
        <img src="{{ img }}" class="image">
    </div>
    <div class="d-block">
        <div class="">
            <span>{{ name }}</span>
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div><span class="fw-800 fs-25">{{ price }}</span><span class="fs-20"> грн</span></div>
            <div>
                    <i class="fa fa-shopping-basket"></i>
            </div>
        </div>
    </div>
</div>